In [1]:
import padas as pd

ModuleNotFoundError: No module named 'padas'

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("diabetes.csv")

In [4]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
inputs=df.drop('Outcome',axis='columns')
target=df['Outcome']

In [6]:
BloodPressure_rating= []
for row in df['BloodPressure']:
    if row <80: BloodPressure_rating.append('Normal')
    elif 80<=row<90: BloodPressure_rating.append('High_stage1')
    elif 90<=row<120: BloodPressure_rating.append('High_stage2')
    else :BloodPressure_rating.append('Crisis')

In [7]:
df['BloodPressure_rating']= BloodPressure_rating

In [8]:
print(df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome BloodPressure_rating
0                       0.627   50        1               Normal
1                       0.351   31        0               Normal
2                       0.672   32        1               Normal
3                       0.167   21        0               Normal
4                       2.288   33        1               Normal
..                        ...  ...      ...                  ...
763                     0.171   63        0               Normal
764                     0.340   27        0               Normal
765                     0.245   30        0               Normal
766                     0.349   47        1               Normal
767                     0.315   23        0               Normal

[768 rows x 10 columns]

In [9]:
df['BloodPressure_rating'].value_counts()

Normal         563
High_stage1    145
High_stage2     59
Crisis           1
Name: BloodPressure_rating, dtype: int64

In [13]:
#threshold is 0.18
High_occurrence = []
for row in df['BloodPressure_rating']:
    if row=='Normal': High_occurrence.append('True')
    elif row=='High_stage1': High_occurrence.append('True')
    else :High_occurrence.append('False')

In [14]:
df['High_occurrence']=High_occurrence

In [15]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BloodPressure_rating,High_occurrence
0,6,148,72,35,0,33.6,0.627,50,1,Normal,True
1,1,85,66,29,0,26.6,0.351,31,0,Normal,True
2,8,183,64,0,0,23.3,0.672,32,1,Normal,True
3,1,89,66,23,94,28.1,0.167,21,0,Normal,True
4,0,137,40,35,168,43.1,2.288,33,1,Normal,True
...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,Normal,True
764,2,122,70,27,0,36.8,0.340,27,0,Normal,True
765,5,121,72,23,112,26.2,0.245,30,0,Normal,True
766,1,126,60,0,0,30.1,0.349,47,1,Normal,True
767,1,93,70,31,0,30.4,0.315,23,0,Normal,True